.bulletin {
    margin: auto;
    width: 50%;
}

.input-panel {
    width: 100%;
} 

input[type="text"] {
    width: 100%;
}

input[type="submit"] {
    background-color: #0d7991;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

textarea {
    width: 100%;
}

.output-panel {
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.output-panel h6 {
    text-align: right;
    margin-right: 20px;
}

.output-panel p, .output-panel h4 {
    margin-left: 20px;
}

.message {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.notification {
    color: red;
    text-align: center;
    align-content: center;
}